:root{
    --clr-primary: #17252a;
    --clr-neutral: #2b7a78;
    --clr-neutral-100: #3aafa9;
    --clr-neutral-200: #def2f1;
    --clr-neutral-200: #feffff;
  
    --font-family: 'Squada One', cursive;
  }
  
  
.footer {
    background-color: var(--clr-primary);
  }

.footer_text {
    width: 30%;
    text-align: center;
    margin: auto;
    color: var(--clr-neutral-100);
    font-size: 2vh;
}