:root{
  --clrprimary: #17252a;
  --clrneutral: #2b7a78;
  --clrneutral2: #3aafa9;
  --clrneutral3: #def2f1;
  --clrneutral4: #feffff;

  --font-family: 'Squada One', cursive;
}
.footer {
    background-color: var(--clr-primary);
  }

.footer_text {
    width: 30%;
    text-align: center;
    margin: auto;
    color: var(--clr-neutral2);
    font-size: 2vh;
}