@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

:root{
  --clr-primary: #17252a;
  --clr-neutral: #2b7a78;
  --clr-neutral2: #3aafa9;
  --clr-neutral3: #def2f1;
  --clr-neutral4: #feffff;

  --font-family: 'Squada One', cursive;
}


.body {
  height:95vh;
  width: 100%;
  display: flex; 
  flex-direction:row;
}

.text {
  text-align: center;
  margin: 10% 0 0 10%;
  color: var(--clr-neutral2);
  font-size: 5vh;
}

.title{
  margin: 10% 0 0 24%;
  width:50%;
}

.titlehead{
  margin-left:13%;
}
.home_img {
  width: 350px;
  height: 500px;
  background-image: url("./imgages/self.jpg");
  background-repeat: no-repeat;
}

.aboutme {
  width:50%;
  text-align: justify;
  font-family: var(--font-family);
}