@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

:root{
    --clrprimary: #17252a;
    --clrneutral: #2b7a78;
    --clrneutral2: #3aafa9;
    --clrneutral3: #def2f1;
    --clrneutral4: #feffff;
  
    --font-family: 'Merriweather', serif;

  }
.nav {
    position: fixed;
    height:7.5%;
    width:100%;
}

.navbar {
    position: fixed;
    width: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.menu-toggle {
    cursor: pointer;
}

.nav-overlay {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 6%;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    /* background: var(--clrprimary); */
    z-index: -1;
}

.hamBox {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    margin-right: 4vw;
    width: 2vw;
    height: 4vh;
    z-index: 1;
}

.hamBox:hover {
    background: var(--clrneutral2);
}

.hamBoxOpen {
    background: var(--clrneutral);
    z-index: 3;
}

.lineTop,
.lineBottom {
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 1.5vw;
    height: 0.2vh;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s;
    background: black;
}

.lineTop {
    top: 1em;
}

.lineBottom {
    bottom: 1em;
}


.link-container {
    width: 100%;
    height: 100%;;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: var(--font-family);
}

.navitem {
    cursor: pointer;
    margin: auto;
    font-size: 20px;
    color: #3aafa9;
    text-decoration: none;
}

.navitem:hover{
    color: #2b7a78;
}