.nav {
    position: fixed;
    z-index: 2;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.menu-toggle {
    cursor: pointer;
}

.nav-overlay {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 10%;
    overflow: hidden;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
    background: orange;
    z-index: -1;
}

.hamBox {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    margin-right: 5vw;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.hamBox:hover {
    background: pink;
}

.hamBoxOpen {
    background: orange;
    z-index: 3;
}

.lineTop,
.lineBottom {
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s;
    background: black;
}

.lineTop {
    top: 1em;
}

.lineBottom {
    bottom: 1em;
}

.lineTop .spin {
    top: 2.35em;
    transform: rotate(135deg);
    background: blue;
}

.lineBottom .spin {
    bottom: 2.35em;
    transform: rotate(225deg);
    background: blue;
}

.link-container {
    margin-left: 15%;
}

.navitem {
    cursor: pointer;
    margin-left: 10%;
}

.test {
    font-size: 100px;
    cursor: pointer;
}