:root{
  --clr-primary: #17252a;
  --clr-neutral: #2b7a78;
  --clr-neutral-100: #3aafa9;
  --clr-neutral-200: #def2f1;
  --clr-neutral-200: #feffff;

  --font-family: 'Squada One', cursive;
}

.navbar {
  background-color: var(--clr-primary);
  width:100%;
  height:5vh;
  text-align: center;
  font-size: 1.5vw;
  text-decoration: none;
}

.navitem {
  margin: 40px;
  color: var(--clr-neutral2);
  text-decoration: none;
  
}

.navitem:hover {
  color: var(--clr-neutral3);
}

/* color syles, #17252a, #2b7a78, #3aafa9, #def2f1, #feffff */