:root {
    --clrprimary: #17252a;
    --clrneutral: #2b7a78;
    --clrneutral2: #3aafa9;
    --clrneutral3: #def2f1;
    --clrneutral4: #feffff;

    --font-family: 'Squada One', cursive;
}

.projects-container{
    height:95vh;
    width: 100%;
    display: flex; 
    flex-direction:column;
    padding-top: 7.5%;
}
